<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Load webcomponents-lite.min.js for polyfill support. -->
    <script type="text/javascript" src="../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="../bower_components/iron-icons/iron-icons.html">

    <!-- Use an HTML Import to bring in some elements. -->
    <link rel="import" href="element/seat-element.html">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto' type='text/css'>
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" type='text/css'/>
    <link rel="stylesheet" href="css/layout_seats.css" type="text/css">
</head>
<body>
<div id="container">
    <seat-element id="Seat1" class="row_0 col_9" number="1"></seat-element>
    <seat-element id="Seat2" class="row_1 col_9" number="2"></seat-element>
    <seat-element id="Seat3" class="row_2 col_9" number="3"></seat-element>
    <seat-element id="Seat4" class="row_8 col_15" number="4"></seat-element>
    <seat-element id="Seat5" class="row_9 col_15" number="5"></seat-element>
    <seat-element id="Seat6" class="row_10 col_15" number="6"></seat-element>
    <seat-element id="Seat7" class="row_11 col_15" number="7"></seat-element>
    <seat-element id="Seat8" class="row_12 col_15" number="8"></seat-element>
    <seat-element id="Seat9" class="row_13 col_15" number="9"></seat-element>
    <seat-element id="Seat10" class="row_14 col_15" number="10"></seat-element>
    <seat-element id="Seat11" class="row_15 col_15" number="11"></seat-element>
    <seat-element id="Seat12" class="row_16 col_14" number="12"></seat-element>
    <seat-element id="Seat13" class="row_16 col_13" number="13"></seat-element>
    <seat-element id="Seat14" class="row_16 col_12" number="14"></seat-element>
    <seat-element id="Seat15" class="row_16 col_11" number="15"></seat-element>
    <seat-element id="Seat16" class="row_16 col_10" number="16"></seat-element>
    <seat-element id="Seat17" class="row_16 col_4" number="17"></seat-element>
    <seat-element id="Seat18" class="row_16 col_5" number="18"></seat-element>
    <seat-element id="Seat19" class="row_16 col_6" number="19"></seat-element>
    <seat-element id="Seat20" class="row_15 col_6" number="20"></seat-element>
    <seat-element id="Seat21" class="row_15 col_5" number="21"></seat-element>
    <seat-element id="Seat22" class="row_15 col_4" number="22"></seat-element>
    <seat-element id="Seat23" class="row_14 col_4" number="23"></seat-element>
    <seat-element id="Seat24" class="row_14 col_5" number="24"></seat-element>
    <seat-element id="Seat25" class="row_14 col_6" number="25"></seat-element>
    <seat-element id="Seat26" class="row_13 col_6" number="26"></seat-element>
    <seat-element id="Seat27" class="row_13 col_5" number="27"></seat-element>
    <seat-element id="Seat28" class="row_13 col_4" number="28"></seat-element>
    <seat-element id="Seat29" class="row_12 col_4" number="29"></seat-element>
    <seat-element id="Seat30" class="row_12 col_5" number="30"></seat-element>
    <seat-element id="Seat31" class="row_11 col_5" number="31"></seat-element>
    <seat-element id="Seat32" class="row_11 col_4" number="32"></seat-element>
    <seat-element id="Seat33" class="row_10 col_4" number="33"></seat-element>
    <seat-element id="Seat34" class="row_10 col_5" number="34"></seat-element>
    <seat-element id="Seat35" class="row_9 col_5" number="35"></seat-element>
    <seat-element id="Seat36" class="row_9 col_4" number="36"></seat-element>
    <seat-element id="Seat37" class="row_8 col_4" number="37"></seat-element>
    <seat-element id="Seat38" class="row_8 col_5" number="38"></seat-element>
    <seat-element id="Seat39" class="row_7 col_5" number="39"></seat-element>
    <seat-element id="Seat40" class="row_7 col_4" number="40"></seat-element>
    <seat-element id="Seat41" class="row_0 col_1" number="41"></seat-element>
    <seat-element id="Seat42" class="row_1 col_1" number="42"></seat-element>
    <seat-element id="Seat43" class="row_2 col_1" number="43"></seat-element>
    <seat-element id="Seat44" class="row_3 col_1" number="44"></seat-element>
    <seat-element id="Seat45" class="row_4 col_1" number="45"></seat-element>
    <seat-element id="Seat46" class="row_5 col_1" number="46"></seat-element>
    <seat-element id="Seat47" class="row_5 col_0" number="47"></seat-element>
    <seat-element id="Seat48" class="row_4 col_0" number="48"></seat-element>
    <seat-element id="Seat49" class="row_3 col_0" number="49"></seat-element>
    <seat-element id="Seat50" class="row_2 col_0" number="50"></seat-element>
    <seat-element id="Seat51" class="row_1 col_0" number="51"></seat-element>
    <seat-element id="Seat52" class="row_0 col_0" number="52"></seat-element>
</div>

<script src="script/seat-controller.js"></script>
<script src="script/seat-drawer.js"></script>
<script type="text/javascript">
    drawEntry(new EntryMark(6, 2));
    //        updateSeatsStatus(3);
</script>
</body>
</html>