<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Load webcomponents-lite.min.js for polyfill support. -->
    <script type="text/javascript" src="../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>

    <!-- Use an HTML Import to bring in some elements. -->
    <link rel="import" href="../bower_components/paper-button/paper-button.html">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="css/layout_seats.css" type="text/css">
</head>
<body>
    <div id="container"></div>

    <!--<paper-button id="Seat1">1</paper-button>-->
    <!--<paper-button id="Seat2">2</paper-button>-->
    <!--<paper-button id="Seat3">3</paper-button>-->
    <!--<paper-button id="Seat4">4</paper-button>-->
    <!--<paper-button id="Seat5">5</paper-button>-->
    <!--<paper-button id="Seat6">6</paper-button>-->
    <!--<paper-button id="Seat7">7</paper-button>-->
    <!--<paper-button id="Seat8">8</paper-button>-->
    <!--<paper-button id="Seat9">9</paper-button>-->
    <!--<paper-button id="Seat10">10</paper-button>-->
    <!--<paper-button id="Seat11">11</paper-button>-->
    <!--<paper-button id="Seat12">12</paper-button>-->
    <!--<paper-button id="Seat13">13</paper-button>-->
    <!--<paper-button id="Seat14">14</paper-button>-->
    <!--<paper-button id="Seat15">15</paper-button>-->
    <!--<paper-button id="Seat16">16</paper-button>-->
    <!--<paper-button id="Seat17">17</paper-button>-->
    <!--<paper-button id="Seat18">18</paper-button>-->
    <!--<paper-button id="Seat19">19</paper-button>-->
    <!--<paper-button id="Seat20">20</paper-button>-->
    <!--<paper-button id="Seat21">21</paper-button>-->
    <!--<paper-button id="Seat22">22</paper-button>-->
    <!--<paper-button id="Seat23">23</paper-button>-->
    <!--<paper-button id="Seat24">24</paper-button>-->
    <!--<paper-button id="Seat25">25</paper-button>-->
    <!--<paper-button id="Seat26">26</paper-button>-->
    <!--<paper-button id="Seat27">27</paper-button>-->
    <!--<paper-button id="Seat28">28</paper-button>-->
    <!--<paper-button id="Seat29">29</paper-button>-->
    <!--<paper-button id="Seat30">30</paper-button>-->
    <!--<paper-button id="Seat31">31</paper-button>-->
    <!--<paper-button id="Seat32">32</paper-button>-->
    <!--<paper-button id="Seat33">33</paper-button>-->
    <!--<paper-button id="Seat34">34</paper-button>-->
    <!--<paper-button id="Seat35">35</paper-button>-->
    <!--<paper-button id="Seat36">36</paper-button>-->
    <!--<paper-button id="Seat37">37</paper-button>-->
    <!--<paper-button id="Seat38">38</paper-button>-->
    <!--<paper-button id="Seat39">39</paper-button>-->
    <!--<paper-button id="Seat40">40</paper-button>-->
    <!--<paper-button id="Seat41">41</paper-button>-->
    <!--<paper-button id="Seat42">42</paper-button>-->
    <!--<paper-button id="Seat43">43</paper-button>-->
    <!--<paper-button id="Seat44">44</paper-button>-->
    <!--<paper-button id="Seat45">45</paper-button>-->
    <!--<paper-button id="Seat46">46</paper-button>-->
    <!--<paper-button id="Seat47">47</paper-button>-->
    <!--<paper-button id="Seat48">48</paper-button>-->
    <!--<paper-button id="Seat49">49</paper-button>-->
    <!--<paper-button id="Seat50">50</paper-button>-->
    <!--<paper-button id="Seat51">51</paper-button>-->
    <!--<paper-button id="Seat52">52</paper-button>-->
    <!--<paper-button id="Seat53">53</paper-button>-->
    <!--<paper-button id="Seat54">54</paper-button>-->
    <!--<paper-button id="Seat55">55</paper-button>-->
    <!--<paper-button id="Seat56">56</paper-button>-->
    <!--<paper-button id="Seat57">57</paper-button>-->
    <!--<paper-button id="Seat58">58</paper-button>-->
    <!--<paper-button id="Seat59">59</paper-button>-->
    <!--<paper-button id="Seat60">60</paper-button>-->
    <!--<paper-button id="Seat61">61</paper-button>-->
    <!--<paper-button id="Seat62">62</paper-button>-->
    <!--<paper-button id="Seat63">63</paper-button>-->
    <!--<paper-button id="Seat64">64</paper-button>-->
    <!--<paper-button id="Seat65">65</paper-button>-->
    <!--<paper-button id="Seat66">66</paper-button>-->
    <!--<paper-button id="Seat67">67</paper-button>-->
    <!--<paper-button id="Seat68">68</paper-button>-->
    <!--<paper-button id="Seat69">69</paper-button>-->
    <!--<paper-button id="Seat70">70</paper-button>-->
    <!--<paper-button id="Seat71">71</paper-button>-->
    <!--<paper-button id="Seat72">72</paper-button>-->
    <!--<paper-button id="Seat73">73</paper-button>-->
    <!--<paper-button id="Seat74">74</paper-button>-->
    <!--<paper-button id="Seat75">75</paper-button>-->
    <!--<paper-button id="Seat76">76</paper-button>-->
    <!--<paper-button id="Seat77">77</paper-button>-->
    <!--<paper-button id="Seat78">78</paper-button>-->
    <!--<paper-button id="Seat79">79</paper-button>-->
    <!--<paper-button id="Seat80">80</paper-button>-->
    <!--<paper-button id="Seat81">81</paper-button>-->
    <!--<paper-button id="Seat82">82</paper-button>-->
    <!--<paper-button id="Seat83">83</paper-button>-->
    <!--<paper-button id="Seat84">84</paper-button>-->
    <!--<paper-button id="Seat85">85</paper-button>-->
    <!--<paper-button id="Seat86">86</paper-button>-->
    <!--<paper-button id="Seat87">87</paper-button>-->
    <!--<paper-button id="Seat88">88</paper-button>-->
    <!--<paper-button id="Seat89">89</paper-button>-->
    <!--<paper-button id="Seat90">90</paper-button>-->
    <!--<paper-button id="Seat91">91</paper-button>-->
    <!--<paper-button id="Seat92">92</paper-button>-->
    <!--<paper-button id="Seat93">93</paper-button>-->
    <!--<paper-button id="Seat94">94</paper-button>-->
    <!--<paper-button id="Seat95">95</paper-button>-->
    <!--<paper-button id="Seat96">96</paper-button>-->
    <!--<paper-button id="Seat97">97</paper-button>-->
    <!--<paper-button id="Seat98">98</paper-button>-->
    <!--<paper-button id="Seat99">99</paper-button>-->
    <!--<paper-button id="Seat100">100</paper-button>-->
    <!--<paper-button id="Seat101">101</paper-button>-->
    <!--<paper-button id="Seat102">102</paper-button>-->
    <!--<paper-button id="Seat103">103</paper-button>-->
    <!--<paper-button id="Seat104">104</paper-button>-->
    <!--<paper-button id="Seat105">105</paper-button>-->
    <!--<paper-button id="Seat106">106</paper-button>-->
    <!--<paper-button id="Seat107">107</paper-button>-->
    <!--<paper-button id="Seat108">108</paper-button>-->
    <!--<paper-button id="Seat109">109</paper-button>-->
    <!--<paper-button id="Seat110">110</paper-button>-->
    <!--<paper-button id="Seat111">111</paper-button>-->
    <!--<paper-button id="Seat112">112</paper-button>-->
    <!--<paper-button id="Seat113">113</paper-button>-->
    <!--<paper-button id="Seat114">114</paper-button>-->
    <!--<paper-button id="Seat115">115</paper-button>-->
    <!--<paper-button id="Seat116">116</paper-button>-->
    <!--<paper-button id="Seat117">117</paper-button>-->
    <!--<paper-button id="Seat118">118</paper-button>-->
    <!--<paper-button id="Seat119">119</paper-button>-->
    <!--<paper-button id="Seat120">120</paper-button>-->
    <!--<paper-button id="Seat121">121</paper-button>-->
    <!--<paper-button id="Seat122">122</paper-button>-->
    <!--<paper-button id="Seat123">123</paper-button>-->
    <!--<paper-button id="Seat124">124</paper-button>-->
    <!--<paper-button id="Seat125">125</paper-button>-->
    <!--<paper-button id="Seat126">126</paper-button>-->
    <!--<paper-button id="Seat127">127</paper-button>-->
    <!--<paper-button id="Seat128">128</paper-button>-->
    <!--<paper-button id="Seat129">129</paper-button>-->
    <!--<paper-button id="Seat130">130</paper-button>-->
    <!--<paper-button id="Seat131">131</paper-button>-->
    <!--<paper-button id="Seat132">132</paper-button>-->
    <!--<paper-button id="Seat133">133</paper-button>-->
    <!--<paper-button id="Seat134">134</paper-button>-->
    <!--<paper-button id="Seat135">135</paper-button>-->
    <!--<paper-button id="Seat136">136</paper-button>-->
    <!--<paper-button id="Seat137">137</paper-button>-->
    <!--<paper-button id="Seat138">138</paper-button>-->
    <!--<paper-button id="Seat139">139</paper-button>-->
    <!--<paper-button id="Seat140">140</paper-button>-->
    <!--<paper-button id="Seat141">141</paper-button>-->
    <!--<paper-button id="Seat142">142</paper-button>-->
    <!--<paper-button id="Seat143">143</paper-button>-->
    <!--<paper-button id="Seat144">144</paper-button>-->
    <!--<paper-button id="Seat145">145</paper-button>-->
    <!--<paper-button id="Seat146">146</paper-button>-->
    <!--<paper-button id="Seat147">147</paper-button>-->
    <!--<paper-button id="Seat148">148</paper-button>-->
    <!--<paper-button id="Seat149">149</paper-button>-->
    <!--<paper-button id="Seat150">150</paper-button>-->
    <!--<paper-button id="Seat151">151</paper-button>-->
    <!--<paper-button id="Seat152">152</paper-button>-->
    <!--<paper-button id="Seat153">153</paper-button>-->
    <!--<paper-button id="Seat154">154</paper-button>-->
    <!--<paper-button id="Seat155">155</paper-button>-->
    <!--<paper-button id="Seat156">156</paper-button>-->
    <!--<paper-button id="Seat157">157</paper-button>-->
    <!--<paper-button id="Seat158">158</paper-button>-->
    <!--<paper-button id="Seat159">159</paper-button>-->
    <!--<paper-button id="Seat160">160</paper-button>-->
    <!--<paper-button id="Seat161">161</paper-button>-->
    <!--<paper-button id="Seat162">162</paper-button>-->
    <!--<paper-button id="Seat163">163</paper-button>-->
    <!--<paper-button id="Seat164">164</paper-button>-->
    <!--<paper-button id="Seat165">165</paper-button>-->
    <!--<paper-button id="Seat166">166</paper-button>-->
    <!--<paper-button id="Seat167">167</paper-button>-->
    <!--<paper-button id="Seat168">168</paper-button>-->
    <!--<paper-button id="Seat169">169</paper-button>-->
    <!--<paper-button id="Seat170">170</paper-button>-->
    <!--<paper-button id="Seat171">171</paper-button>-->
    <!--<paper-button id="Seat172">172</paper-button>-->
    <!--<paper-button id="Seat173">173</paper-button>-->
    <!--<paper-button id="Seat174">174</paper-button>-->
    <!--<paper-button id="Seat175">175</paper-button>-->
    <!--<paper-button id="Seat176">176</paper-button>-->
    <!--<paper-button id="Seat177">177</paper-button>-->
    <!--<paper-button id="Seat178">178</paper-button>-->
    <!--<paper-button id="Seat179">179</paper-button>-->
    <!--<paper-button id="Seat180">180</paper-button>-->
    <!--<paper-button id="Seat181">181</paper-button>-->
    <!--<paper-button id="Seat182">182</paper-button>-->
    <!--<paper-button id="Seat183">183</paper-button>-->
    <!--<paper-button id="Seat184">184</paper-button>-->
    <!--<paper-button id="Seat185">185</paper-button>-->
    <!--<paper-button id="Seat186">186</paper-button>-->
    <!--<paper-button id="Seat187">187</paper-button>-->
    <!--<paper-button id="Seat188">188</paper-button>-->
    <!--<paper-button id="Seat189">189</paper-button>-->
    <!--<paper-button id="Seat190">190</paper-button>-->
    <!--<paper-button id="Seat191">191</paper-button>-->
    <!--<paper-button id="Seat192">192</paper-button>-->
    <!--<paper-button id="Seat193">193</paper-button>-->
    <!--<paper-button id="Seat194">194</paper-button>-->
    <!--<paper-button id="Seat195">195</paper-button>-->
    <!--<paper-button id="Seat196">196</paper-button>-->
    <!--<paper-button id="Seat197">197</paper-button>-->
    <!--<paper-button id="Seat198">198</paper-button>-->
    <!--<paper-button id="Seat199">199</paper-button>-->
    <!--<paper-button id="Seat200">200</paper-button>-->
    <!--<paper-button id="Seat201">201</paper-button>-->
    <!--<paper-button id="Seat202">202</paper-button>-->
    <!--<paper-button id="Seat203">203</paper-button>-->
    <!--<paper-button id="Seat204">204</paper-button>-->
    <!--<paper-button id="Seat205">205</paper-button>-->
    <!--<paper-button id="Seat206">206</paper-button>-->
    <!--<paper-button id="Seat207">207</paper-button>-->
    <!--<paper-button id="Seat208">208</paper-button>-->

    <script src="javascript/layout_config.js"></script>
    <script src="javascript/layout_drawer.js"></script>
    <script type="text/javascript">draw(2)</script>
</body>
</html>