@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html {
  font-family: sans-serif;
}
#mainContainer {
  text-align: center;
  background-color: #FAFAFA;
}
.content {
  display: inline-block;
  width: 512px;
  font-family: 'Nanum Gothic', serif;
}
@media (max-width: 720px) {
  .content {
    width: 80%;
  }
}
