.row_0 {
  top: 0px;
}
.row_1 {
  top: 44px;
}
.row_2 {
  top: 88px;
}
.row_3 {
  top: 132px;
}
.row_4 {
  top: 176px;
}
.row_5 {
  top: 220px;
}
.row_6 {
  top: 264px;
}
.row_7 {
  top: 308px;
}
.row_8 {
  top: 352px;
}
.row_9 {
  top: 396px;
}
.row_10 {
  top: 440px;
}
.row_11 {
  top: 484px;
}
.row_12 {
  top: 528px;
}
.row_13 {
  top: 572px;
}
.row_14 {
  top: 616px;
}
.row_15 {
  top: 660px;
}
.row_16 {
  top: 704px;
}
.row_17 {
  top: 748px;
}
.row_18 {
  top: 792px;
}
.col_0 {
  left: 0px;
}
.col_1 {
  left: 52px;
}
.col_2 {
  left: 104px;
}
.col_3 {
  left: 156px;
}
.col_4 {
  left: 208px;
}
.col_5 {
  left: 260px;
}
.col_6 {
  left: 312px;
}
.col_7 {
  left: 364px;
}
.col_8 {
  left: 416px;
}
.col_9 {
  left: 468px;
}
.col_10 {
  left: 520px;
}
.col_11 {
  left: 572px;
}
.col_12 {
  left: 624px;
}
.col_13 {
  left: 676px;
}
.col_14 {
  left: 728px;
}
.col_15 {
  left: 780px;
}
.col_16 {
  left: 832px;
}
.col_17 {
  left: 884px;
}
.col_18 {
  left: 936px;
}
.col_19 {
  left: 988px;
}
